html{
    height: 100%;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(128, 177, 209);
    min-height: 100vh;
}

.wrapper{
    max-inline-size: 1200px;
    padding-inline-end: 16px;
    padding-inline-start: 16px;
    margin: auto;
    min-height: 100vh;
    position: relative;
}

header{
    position: fixed;
    top: 0;
    left: 20px;
    height:80px;
    backdrop-filter: blur(10px);
    z-index: 1000;
    width: 95%;
    display:inline-block;
}

.header-content{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

nav{
    list-style: none;
    display:flex;
    align-items: center;
    block-size: 100px;
    width: 100%;
    z-index: 1000;
}

li *{
    color:black;
    padding: 16px 16px;
    text-decoration: none;
    font-family:sans-serif;
    font-weight: bold;
    border-right: 2px solid whitesmoke;
    border-left: 2px solid whitesmoke;
}

li a:hover{
    background-color: rgb(15, 158, 201);
    color:black;
}

h3{
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: normal;
    position: relative;
    top: 0px;
    left: 5px;
}

section{
    margin-left: 40px;
    margin-top: 150px;
    margin-right: 40px;
    margin-bottom: 30px;
    width: 350px;
    padding: 5px;
    height: 300px;
    text-align:justify;
}

.links{
    margin-bottom: 150px;
}

p{
    margin-bottom: 70px;
    font-size: 130%;
    margin-top: 100px;
    top: 0;
    margin-top: 0;
}
 
.espacio2{
    position:absolute;
    right: 30px;
    margin-left: 60px;
    top: 0;
    margin-top: 0;
    margin-right: 60px;
    margin-bottom: 20px;
    padding: 20px;
}

.imagenes{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.espacio2 img{
    margin-bottom: 150px;
    border-radius: 20%;
    border-width: 5px;
}

.elemento-abs{
    position: fixed;
    bottom: 10px;
    left: 10px;
}

.button-icon{
    padding: 10px;
    text-decoration: none;
    display: inline-block;
}

#btn-correo {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1;
}

#btn-correo:hover {
    background-color: #3e8e41;
}

#btn-correo a {
    text-decoration: none;
    color: #fff;
}

.footer {
    position:relative;
    bottom: 0;
    padding: 30x;
}

.iconos{
    display: flex;
    gap:30px;
}



html{
    height: 100%;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(128, 177, 209);
    min-height: 100vh;
}

.wrapper{
    max-inline-size: 1200px;
    padding-inline-end: 16px;
    padding-inline-start: 16px;
    margin: auto;
    min-height: 100vh;
    position: relative;
}

header{
    position: fixed;
    top: 0;
    left: 20px;
    height:80px;
    backdrop-filter: blur(10px);
    z-index: 1000;
    width: 95%;
    display:inline-block;
}

.header-content{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

nav{
    list-style: none;
    display:flex;
    align-items: center;
    block-size: 100px;
    width: 100%;
    z-index: 1000;
    justify-content:left;
}

li *{
    color:black;
    padding: 16px 16px;
    text-decoration: none;
    font-family:sans-serif;
    font-weight: bold;
    border-right: 2px solid whitesmoke;
    border-left: 2px solid whitesmoke;
}

li a:hover{
    background-color: rgb(15, 158, 201);
    color:black;
}

h3{
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: normal;
    position: relative;
    top: 0px;
    left: 5px;
}

section{
    margin-left: 40px;
    margin-top: 150px;
    margin-right: 40px;
    margin-bottom: 30px;
    width: 350px;
    padding: 5px;
    height: 300px;
    text-align:justify;
}

.links{
    margin-bottom: 150px;
}

p{
    margin-bottom: 70px;
    font-size: 130%;
    margin-top: 100px;
    top: 0;
    margin-top: 0;
}
 
.espacio2{
    position:absolute;
    right: 30px;
    margin-left: 60px;
    top: 0;
    margin-top: 0;
    margin-right: 60px;
    margin-bottom: 20px;
    padding: 20px;
}
img{
    max-width: 100%;
    height: auto;
}
.imagenes{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.espacio2 img{
    margin-bottom: 150px;
    border-radius: 20%;
    border-width: 5px;
}

.elemento-abs{
    position: fixed;
    bottom: 10px;
    left: 10px;
}

.button-icon{
    padding: 10px;
    text-decoration: none;
    display: inline-block;
}

#btn-correo {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1;
}

#btn-correo:hover {
    background-color: #3e8e41;
}

#btn-correo a {
    text-decoration: none;
    color: #fff;
}

.footer {
    position:relative;
    bottom: 0;
    padding: 30x;
}

.iconos{
    display: flex;
    gap:30px;
}


/* For small screens (max-width: 480px) */
@media only screen and (max-width: 480px) {
    /* Styles for small screens */
  }
  
  /* For medium screens (min-width: 481px and max-width: 768px) */
  @media only screen and (min-width: 481px) and (max-width: 768px) {
    /* Styles for medium screens */
  }
  
  /* For large screens (min-width: 769px) */
  @media only screen and (min-width: 769px) {
    /* Styles for large screens */
  }